.car-full-details {
  background-color: var(--card-background-color);
  width: 90vw;
  height: auto;
  transition: none;
  margin: 30px auto;
}

.details-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  column-gap: 40px;
  row-gap: 40px;
}

.car-details-price p {
  font-size: 1.8em;
  font-weight: 700;
  padding-left: 20px;
}

.car-modify {
  display: flex;
  align-items: center;
}
